@model dropdown2ndpage.Models.moviename

@{
    ViewBag.Title = "MovieDetails";
}

<h2>MovieDetails</h2>

<div>
    <h4>moviename</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ratings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ratings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Likes)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        <input type="submit" name="submit" id="submit" value="Like" onclick="location.href='@Url.Action("MovieDetails","Home" )'" />

        <input type="submit" name="fav" id="fav" value="favourite" onclick="location.href='@Url.Action("MovieDetails","Home" )'" />

    }
</div>

<p>

    @Html.ActionLink("Back to List", "Index")
</p>
<script type="text/javascript"></script>


@if (Model.likeclick == 1)
{
<script>
    document.getElementById("submit").disabled = true;
</script>
        }
   
