@model LoginFrontPage.Models.Corporate

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}


<h2>Password Reset</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <br />
        <input type="submit" value="Send Otp" class="btn-primary" />
        }
        @if (ViewBag.Message == "success")
        {
            <h4>@Html.ActionLink("Reset password", "ResetPassword", "Home")</h4>

        }
        else if (ViewBag.Message == "fail")
        {

            <h4 style="color:red">User does not Exist</h4>
            <h4>@Html.ActionLink("Register", "Register", "Home")</h4>
        }
        else
        {

        }


