@model EntityFrameworkAssessment.Models.DepartmentEmployee

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@using (Html.BeginForm())
{
  
    @Html.DropDownList("Department", ViewBag.Departments as SelectList, "Select Department", new { @onChange = "selectedDep(this)" })
    @Html.TextBox("selectedDepartment")
    <input type="submit" value="search" /> 
}
<br />

<table border="3">

    @foreach (var item in Model.dep1)
    {
        if (Model.ind1 == item.ID)
        {
            <tr>
                <td colspan="4">@item.Name</td>
            </tr>
            <tr>
                <td>FirstName</td>
                <td>LastName</td>
                <td>Salary</td>
                <td>Gender</td>

            </tr>
            foreach (var it in Model.emp1)
            {
                if (item.ID == it.DepartmentID)
                {
                    <tr>
                        <td>@it.FirstName</td>
                        <td>@it.LastName</td>
                        <td>@it.Salary</td>
                        <td>@it.Gender</td>

                    </tr>
                }
            }

        }
    }

</table>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function selectedDep() {
        var selval = Department.value;
        var seltext = Department.options[Department.selectedIndex].innerHTML;
        $('#selectedDepartment').val(selval)
    }
</script>